body {
    padding-top: 80px;
}

.panel {
    /*border-color: #f7f7f7;*/
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    border-radius: 0px;
}

